@font-face {
	font-family: 'Wiener Melange';
	src: url('/fonts/Wiener_Melange_Regular.otf') format('opentype');
	font-weight: normal;
}

@font-face {
	font-family: 'Wiener Melange';
	src: url('/fonts/Wiener_Melange_Black.otf') format('opentype');
	font-weight: bold;
}

:root {
	--color-rgb-red: 238, 48, 45;
	--color-rgb-red-dark: 167, 35, 32;
	--color-black-light: #1a1a1a;
	--color-black: #000;
	--color-white: #fff;
	--color-light-gray: #f5f5f5;
	--color-red: rgb(var(--color-rgb-red));
	--color-red-dark: rgb(var(--color-rgb-red-dark));
	--gradient-red-dark: linear-gradient(45deg, rgba(var(--color-rgb-red-dark), 0.3), transparent);
}

* {
	font-family: 'Wiener Melange';
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,
body {
	background: var(--color-black);
	color: var(--color-white);
}

a {
	color: var(--color-red);
	text-decoration: none;
}

h1,
h2,
h3,
h4 {
	font-weight: normal;
	line-height: 1.2;
}

h1,
.h1 {
	font-size: 3rem;
}

h2,
.h2 {
	font-size: 2.5rem;
}

h3,
.h3 {
	font-size: 2rem;
}

h4,
.h4 {
	font-size: 1.5rem;
	line-height: 1.4;
}

h5,
.h5 {
	font-size: 1.25rem;
	line-height: 1.4;
}

h6,
.h6 {
	font-size: 1rem;
	line-height: 1.4;
}

@media screen and (max-width: 768px) {
	h1,
	.h1 {
		font-size: 2.5rem;
	}

	h2,
	.h2 {
		font-size: 2rem;
	}

	h3,
	.h3 {
		font-size: 1.5rem;
	}

	h4,
	.h4 {
		font-size: 1.25rem;
	}

	h5,
	.h5 {
		font-size: 1rem;
	}

	h6,
	.h6 {
		font-size: 0.875rem;
	}
}

.uppercase {
	text-transform: uppercase;
	letter-spacing: 1.5px;
	opacity: 0.5;
}

.wrapper {
	max-width: 800px;
	margin: 0 auto;
	padding: 0 1rem;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

.flex {
	display: flex;
}

.items-center {
	align-items: center;
}

.hide {
	opacity: 0;
	transform: translateY(10px);
	transition: 700ms ease-in-out all;
}

.hide.show {
	opacity: 1;
	transform: translateY(0);
}
