@font-face {
	font-family: 'Wiener Melange';
	src: url('/fonts/Wiener_Melange_Black.otf') format('opentype');
}

:root {
	--color-black-light: #1a1a1a;
	--color-black: #000;
	--color-white: #fff;
	--color-red: #EE302D;
	--color-red-dark: #a72320;
}

* {
	font-family: 'Wiener Melange';
    padding: 0;
    margin: 0;
}

html,
body {
    background: var(--color-black);
	color: var(--color-white);

}

a {
	color: var(--color-red);
    text-decoration: none;
}
